.digit svg {
  height: 80px;
}

.rotate svg {
  animation: rotation 5s infinite linear;
}

.rotationInverse svg {
  animation: rotationInverse 5s infinite linear;
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes rotationInverse {
  from {
    transform: rotate(359deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.bg {
  position: absolute;
  top:0;
  width:100%;
  height:100%;
  background: url("image/pngwing.com.png");
  background-position:center;
  background-size:cover;
  z-index: -1;
}
.bg::before {
  content:"";
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity: .9;
  z-index: 1;
  background:linear-gradient(to right,#000000 30%, rgba(0,0,0,.9) 50% ,rgba(0,0,0,.2) 70%);
}

.city {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to right, #000000 30%, rgba(0,0,0,.9) 50% ,rgba(0,0,0,.2) 70%);
}
.city_overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  opacity: .7;
  animation: blue_red infinite 2s;
}

@keyframes blue_red {
  0% {
    background: blue;
  }
  50% {
    background: red;
  }
  100% {
    background: blue;
  }
}