.digit svg {
  height: 80px;
}

.rotate svg {
  animation: rotation 5s infinite linear;
}

.rotationInverse svg {
  animation: rotationInverse 5s infinite linear;
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes rotationInverse {
  from {
    transform: rotate(359deg);
  }

  to {
    transform: rotate(0deg);
  }
}