.container{
    position: absolute;
    min-height: 100vh;
    width: 50%;
    top:0;
    right:0;
}
.open{
    animation: show_animation 0.8s;
}
.close {
    animation: close_animation .8s;
    margin-right: -100%;
}
.projectTitle{
    margin-top: 10px;
    margin-bottom: 50px;
}
.title{
    text-decoration: underline;
}
.list_group{
    list-style-type: none;
}
ul.list_group li {
    font-size: 1em;
}
@keyframes close_animation {
    0%  {
        margin-right: 0%;
    }
    100% {
        margin-right: -100%;
    }
}
@keyframes show_animation {
    0% {
        margin-right: -100%;
    }
    100% {
        margin-right: 0%;
    }
}

@media only screen and (min-width: 720px) {
    .container{
        margin-rigth: auto;
    }
    .contenu{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 100%;
        padding: 25px 15px 25px 15px;
    }
}