.container {
    position: absolute;
    min-height: 100vh;
    width: 100%;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
}

.open {
    animation: show_animation 0.8s;
    margin-top: 0;
}

.close {
    animation: close_animation .8s;
    margin-top: -100vh;
}

.projectTitle {
    margin-top: 10px;
    margin-bottom: 50px;
}

.title {
    text-decoration: underline;
}

.list_group {
    list-style-type: none;
}

ul.list_group li {
    font-size: 1em;
}

@keyframes close_animation {
    0% {
        margin-top: 0%;
    }

    100% {
        margin-top: -100vh;
    }
}

@keyframes show_animation {
    0% {
        margin-top: -100%;
    }

    100% {
        margin-top: 0%;
    }
}

@media only screen and (min-width: 720px) {
    .contenu {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 100%;
        padding: 25px 15px 25px 15px;
    }
}